<%- include('../Includes/begin.ejs') %>
    <%- include('../Includes/navbar.ejs') %>

        <div class="container pt-5">
            <div class="container pt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="card shadow p-3 mb-5 bg-white rounded">
                            <div class="forgot p-3">
                                <h2>Забыли пароль?</h2>
                                <p>Измените свой пароль в три простых шага. 
                                </p>
                                <ol class="list-unstyled">
                                    <li><span class="text-primary text-medium">1. </span>Введите ваш email ниже.
                                    </li>
                                    <li><span class="text-primary text-medium">2. </span>Система вышлет вам временную ссылку                                     temporary
                                       </li>
                                    <li><span class="text-primary text-medium">3. </span>Используйте ссылку для сброса пароля
                                    </li>
                                </ol>
                            </div>
                            <%- include('../Includes/messages') %>
                                <form class="card" role="form" method="POST"
                                    action="/admin/forgot-password?_method=PUT">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="email-for-pass">Введите ваш email-адрес</label>
                                            <input class="form-control" type="email" name="email" id="email"
                                                required><small class="form-text text-muted">Введите адрес электронной почты, который вы
                                                    использовали при
                                                    регистрации. Затем система отправит ссылку по электронной почте на этот адрес.</small>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary btn-block" type="submit">Получить новый пароль</button>
                                </form>
                                <hr>
                                <button class="btn btn-danger" onclick="location.href = '/admin/login'">Назад к странице входа</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('../Includes/end.ejs') %>