<%- include('../Includes/begin.ejs') %>
    <%- include('../Includes/staff_nav.ejs') %>

        <section id="content-wrapper">
            <main role="main" class="pt-5 main">
                <div class="header pb-4 pb-sm-8 pt-5 pt-lg-4 d-flex align-items-center"
                    style="max-height: 100px; background-size: cover; background-position: center top;">
                    <h1>Здравствуйте, <%= user.st_name %>
                    </h1>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                src="https://au.res.keymedia.com/files/image/iStock-classroom-girls-students-school.jpg"
                                alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Отметки посещаемости</h5>
                                <p class="card-text">Записывайте ежедневную посещаемость ваших студентов здесь! Вы не сможете редактировать/обновлять
                                    записи через месяц.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                    style="color: #fff;">
                                    <a href="/staff/student-attendance" class="btn btn-success">Отметки посещаемости</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                src="http://vskills.in/certification/blog/wp-content/uploads/2014/03/3-major-types-of-reports.png"
                                alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Отчет по студентам</h5>
                                <p class="card-text">Управляйте отчетами ваших студентов здесь.
                                    <br><br>
                                </p>

                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                    style="color: #fff;">
                                    <a href="/staff/student-report" class="btn btn-primary">Отчет по студентам</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                src="https://itslearning.com/uk/wp-content/uploads/sites/19/slider58/reports.png">
                            <div class="card-body">
                                <h5 class="card-title">Создание отчета по группам</h5>
                                <p class="card-text">Посмотрите, насколько хорошо работает ваша группа! Создайте общий отчет о группе здесь.
                                </p>

                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                    style="color: #fff;">
                                    <a href="/staff/class-report" class="btn btn-danger">Отчет по группам</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </section>

        <%- include('../Includes/staff_end.ejs') %>